@import "../../styles/variables";

.aboutSection{
    display: flex;
	flex-direction: column;
	text-align: center;
	color: $main-color-text;
	box-sizing: border-box;
    .aboutIntro{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: end;
        align-items: center;
        color: $main-color-text;
        box-sizing: border-box;
        padding: 0 32px 32px 32px;
        height: 100vh;
        background-image: url(/aboutIntro.svg);
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        h1{
            font-size: 160px;
            line-height: 100%;
            font-weight: 300;
            width: 96%;
            justify-content: space-between;
            display: flex;
            top: 17%;
            position: absolute;
        }
        .firText{
            font-family: 'Playfair Display', sans-serif;
            font-weight: 400;
            font-style: italic;
            letter-spacing: -16px;
            padding-left: 176px;
        }
        .secText{
            letter-spacing: -16px;
            -webkit-text-stroke: 2px  #FAFAFA;
            padding-right: 176px;
        }
        .welcomeUnder{
            display: none;
            margin-top: 273px;
            flex-direction: row;
            align-items: center;
            .bracket1, .bracket2{
                font-family: 'Playfair Display' , sans-serif;
                font-weight: 400;
                font-style: italic;
                letter-spacing: -24px;
                font-size: 32px;
                opacity: 0.4;
            }
            .bracket1{
                margin: 0 16px 0 0;
            }
            .bracket2{
                margin: 0 0 0 12px;
            }
        }
        .homeText{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-transform: uppercase;
            padding: 0 270px;
            margin: 0 auto;
            top: 70%;
            position: absolute;
            width: 100%;
            p{
                line-height: 120%;
                letter-spacing: -4%;
                font-weight: 300;
            }
        }
        .aboutFooter{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;
            a{
                color: $main-color-text;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    .trump{
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
        background-color: #070707;
        background-image: url(/3dstar.svg);
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
        background-position: center;
        .textMain{
          margin: auto;
          h2{
            font-family: 'Playfair Display', sans-serif;
            font-weight: 400;
            font-style: italic;
            letter-spacing: -4px;
            font-size: 120px;
            line-height: 90%;
          }
        }
        .textBottom{
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 0 32px 32px 32px;
          .textBfirst{
            text-align: start;
          }
          .textBsecond{
            text-align: end;
          }
        }
        .textBottomMobile{
            justify-content: space-between;
            width: 100%;
            flex-direction: column;
            padding: 0 24px 32px 24px;
            display: none;
            gap: 16px;
            .textBfirst, .textBsecond{
              text-align: start;
            }
          }
      }
      @media screen and (max-width: 1440px) {
        .aboutIntro h1{
            font-size: 120px;
            top: 20%;
        }
        .aboutIntro .firText , .aboutIntro .secText {
            letter-spacing: -10px;
        }
        .aboutIntro .firText,.aboutIntro .secText {
            padding: 0 72px;
        }
        .aboutIntro .homeText {
            padding: 0 120px;
        }
        .trump .textMain h2{
            font-size: 104px;
        }
    }
    @media screen and (max-width: 1366px) {
        .aboutIntro h1{
            font-size: 104px;
        }
        .aboutIntro .firText,.aboutIntro .secText {
            padding: 0 88px;
            }
        .trump .textMain h2{
            font-size: 88px;
        }
    }
    @media screen and (max-width: 1024px) {
        .navigationSection{
			display: none;
		}
        .aboutIntro h1{
            font-size: 88px;
        }
        .aboutIntro .firText,.aboutIntro .secText {
        padding: 0 40px;
        }
        .aboutIntro .firText , .aboutIntro .secText {
            letter-spacing: -7px;
        }
        .trump .textMain h2{
            font-size: 72px;
        }
    }
    @media screen and (max-width: 768px) {
        .aboutIntro .homeText {
            flex-direction: column;
            gap: 16px;
        }
        .aboutIntro h1 {
            flex-direction: column;
            align-items: center;
            top: 40%;
        }
          .aboutIntro .firText , .aboutIntro .secText{
            padding: 0;
        }
        .trump .textMain h2{
            padding: 0 72px;
        }
    }
    @media screen and (max-width: 390px), (max-width: 375px), (max-width: 428px) {
        .aboutIntro{
            padding: 0 24px 32px 24px;
        }
        .aboutIntro h1{
            font-size: 56px;
            font-weight: 150;
            top: 45%;
        }
        .aboutIntro .secText , .aboutIntro .firText{
            letter-spacing: -4px;
        }
		.trump .textBottom {
            display: none;
        }
        .trump .textBottomMobile {
            display: flex;
        }
        .aboutIntro .homeText{
            padding: 0;
        }
        .trump .textMain h2{
            font-size: 48px;
        }
        .trump .textMain h2 {
            padding: 0 32px;
        }
	}
}