@import "../../styles/variables";

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    background-color: $background-light-black;
    p{
	  font-size: 32px;
      color: $main-color-text;
    .procent{
        font-size: 14px;
        vertical-align: super;
     }
    }
    @media screen and (max-width: 1366px) {
        p{
            font-size: 24px;
        }
    }
}