@import "../../../styles/variables.scss";

.openBurger {
    display: flex;
    width: 100%;
    height: 100vh;
    z-index: 3000;
    top: 0;
    left: 0;
    position: absolute;
    background-color: $background-main;
	flex-direction: column;
	color: $main-color-text;
	text-decoration: none;
	padding: 0 24px 24px 24px;
    .headerMenu{
        padding: 36px 32px 0 32px;
    }
    .headerBtn{
		display: flex;
		align-items: center;
		gap: 8px;
	}
    .burgerContent{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $main-color-text;
        text-decoration: none;
        padding: 64px 0 0 0;
        height: 100%;
        nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            .navLink{
                font-family: 'Inter', sans-serif;
                font-size: 88px;
                font-weight: 400;
                letter-spacing: -7px;
            }
        }
        article{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .contactButtons{
                display: flex;
                gap: 4px;
                flex-direction: column;
                text-decoration: none;
                height: 100px;
                text-align: center;
                .contactLight{
                    z-index: 0;
                    position: relative;
                    top: -250%;
                    filter: blur(40px);
                }
                p{
                    font-family: 'Inter', sans-serif;
                    font-size: 48px;
                    letter-spacing: -4px;
                    font-weight: 400;
                    line-height: 48px;
                    z-index: 1000;
                    cursor: pointer;
                    color: $main-color-text;
                }
                .discription{
                    font-family: 'Playfair Display', sans-serif;
                    font-weight: 200;
                    font-style: italic;
                    font-size: 16px;
                    z-index: 1000;
                    cursor: pointer;
                    color: $main-color-text;
                }
            }
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: inline-flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            .portfolioLink{
                position: relative;
                font-size: 16px;
                font-weight: 300;
                line-height: 16px;
            }
            .portfolioLink:hover:before {
                -webkit-transform: scaleX(1);
                -ms-transform: scaleX(1);
                transform: scaleX(1);
                -webkit-transform-origin: left;
                -ms-transform-origin: left;
                transform-origin: left;
                -webkit-transition: -webkit-transform 0.55s;
                transition: -webkit-transform 0.55s;
                -o-transition: transform 0.55s;
                transition: transform 0.55s;
                transition: transform 0.55s, -webkit-transform 0.55s;
            }
            .portfolioLink:before {
                content: '';
                width: 100%;
                height: 1px;
                background-color: $main-color-text;
                position: absolute;
                left: 0; bottom: -2px;
                -webkit-transform: scaleX(0);
                -ms-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transform-origin: right;
                -ms-transform-origin: right;
                transform-origin: right;
                -webkit-transition: -webkit-transform 0.55s;
                transition: -webkit-transform 0.55s;
                -o-transition: transform 0.55s;
                transition: transform 0.55s;
                transition: transform 0.55s, -webkit-transform 0.55s;
            }
        }
        footer{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            .footerLinkFirst{
                text-align: start;
            }
            .footerLinkSecond{
                text-align: end;
                width: 177px;
            }
        }
    }
}