@import "../../styles/variables";

.contactSection{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: $main-color-text;
	box-sizing: border-box;
	padding: 0 32px;
	h1{
		font-size: 160px;
		line-height: 100%;
		font-weight: 300;
		position: fixed;
		overflow: hidden;
  		top: 17%;
		width: -moz-available;
		width: -webkit-fill-available;
		.char {
			display: inline-block;
			height: 180px;
			transform: translateY(100%);
			transition: transform 1.5s cubic-bezier(0.77, 0, 0.175, 1);
			transition-delay: calc(.02s * var(--char-index)); // For staggered animation
			&:before,
			&:after {
				visibility: visible;
				transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
			}
		}
		&.animate-on-load .char {
			transform: translateY(0%);
		}
	}
	.second{
		display: none;
		font-size: 160px;
		line-height: 100%;
		font-weight: 300;
		position: fixed;
  		top: 20%;	
	}
	.firText{
		font-family: 'Playfair Display', sans-serif;
		font-weight: 400;
		font-style: italic;
		letter-spacing: -14px;
	}
	.secText{
		font-family: 'InterSpecial';
		letter-spacing: -16px;
		-webkit-text-stroke: 1px  #FAFAFA;
	}
	.contactText{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 288px;
		margin: 0 auto;
		top: 66%;
		position: fixed;
		width: 100%;
		.contactButtons{
			display: flex;
			gap: 4px;
			flex-direction: column;
			text-decoration: none;
			height: 100px;
			width: 288px;
			.contactLight{
				z-index: 0;
				position: relative;
				top: -250%;
				filter: blur(40px);
			}
			p{
				font-size: 48px;
				line-height: 0;
				z-index: 1000;
				cursor: pointer;
				color: $main-color-text;
				opacity: 0;
				margin: 0;
				transition: opacity 1s ease;
				&.visible {
					opacity: 1;
				}
				.char {
					display: inline-block;
					transform: translateY(100%);
					overflow: hidden;
					color: transparent;
					opacity: 0;
					height: 44.5px;
					transition: transform 1s ease, opacity 1s ease;
					&:before,
						&:after {
							visibility: visible;
							color: $main-color-text;
							height: 54px;
							transition: transform 0.5s cubic-bezier(0.9,0,.2,1);
							transition-delay: calc( 0.2s + ( 0.02s * ( var(--char-index)) ) );
						}
						&:before {
							transition-delay: calc( 0.02s * ( var(--char-index)) );
						}
				}
				&.visible .char {
					transform: translateY(0);
					opacity: 1;
				}
				.word{
					line-height: 52px;
					height: 48px;
				}
				// .char {
				// 	overflow: hidden;
				// 	color: transparent;
				// 	height: 44.5px;
				// 	&:before,
				// 	&:after {
				// 		visibility: visible;
				// 		color: $main-color-text;
				// 		height: 54px;
				// 		transition: transform 0.5s cubic-bezier(0.9,0,.2,1);
				// 		transition-delay: calc( 0.2s + ( 0.02s * ( var(--char-index)) ) );
				// 	}
				// 	&:before {
				// 		transition-delay: calc( 0.02s * ( var(--char-index)) );
				// 	}
				// }
				&:hover .char:before { 
					transition-delay: calc( 0.2s + ( 0.02s * ( var(--char-index)) ) );
				}
				&:hover .char:after {
					transition-delay: calc( 0.02s * ( var(--char-index)) );
				}
			}
			p {
				.char:before { transform: translateY(100%); }
				&:hover .char:before { transform: translateY(0%); }
				&:hover .char:after { transform: translateY(-100%); }
			}
			.discription{
				font-family: 'Playfair Display', sans-serif;
				font-weight: 100;
				font-style: italic;
				z-index: 1000;
				cursor: pointer;
				color: $main-color-text;
				letter-spacing: 0;
				&:hover ~ p .char:before { transform: translateY(0%); }
				&:hover ~ p .char:after { transform: translateY(-100%); }
			}
		}
	}
	@media screen and (max-width: 1440px) {
		h1{
			font-size: 120px;
			top: 20%;
		}
		.firText , .secText {
			letter-spacing: -10px;
		}
		.contactText {
			padding: 0 160px;
		}
	}
	@media screen and (max-width: 1366px), (max-width: 1280px) {
		h1{
			font-size: 104px;
		}
		.firText {
			letter-spacing: -8px;
		}
		.secText{
			letter-spacing: -3px;
		}
		.contactText {
			padding: 0 190px;
		}
		.contactText .contactButtons p {
			font-size: 32px;
			letter-spacing: -2px;
			line-height: 34px;
		}
		.contactText .contactButtons .contactLight {
			top: -154%;
		}
		.contactText .contactButtons {
			width: 200px;
		}
	}
	@media screen and (max-width: 1024px) {
		h1, .navigationSection{
			display: none;
		}
		.second{
			display: block;
			font-size: 88px;
			line-height: 72px;
		}
		.contactSection .contactText {
			padding: 0 170px;
		}
	}
	@media screen and (max-width: 768px) {
		.contactText{
			display: none;
		}
	}
	@media screen and (max-width: 390px), (max-width: 375px), (max-width: 428px) {
		.second{
			font-size: 56px;
			line-height: 50px;
		}
		.firText , .secText {
			letter-spacing: -4px;
		}
		.secText{
			-webkit-text-stroke: 0.5px  #FAFAFA;
		}
	}
}