@import "../../styles/variables";

.contactSection{
	display: flex;
	flex-direction: column;
	text-align: center;
	
	justify-content: center; // выравнивание по вертикали
	align-items: center;
	
	color: $main-color-text;
	box-sizing: border-box;
	padding: 0 32px;
	margin: 128px 0 0 0;
	h2{
		font-family: 'Inter', sans-serif;
		font-size: 160px;
		line-height: 100%;
		font-weight: 300;
	}
	.firText{
		font-family: 'Playfair Display', sans-serif;
		font-weight: 400;
		font-style: italic;
		letter-spacing: -16px;
	}
	.secText{
		letter-spacing: -16px;
		-webkit-text-stroke: 1px  #FFBE98;
	}
}