@import "../../styles/variables";

.contactSection{
	display: flex;
	flex-direction: column;
	text-align: center;
	
	justify-content: center;
	align-items: center;
	
	color: $main-color-text;
	box-sizing: border-box;
	padding: 0 32px;
	margin: 160px 0 0 0;
	h2{
		font-size: 160px;
		line-height: 100%;
		font-weight: 300;
	}
	.firText{
		font-family: 'Playfair Display', sans-serif;
		font-weight: 400;
		font-style: italic;
		letter-spacing: -16px;
	}
	.secText{
		letter-spacing: -16px;
		-webkit-text-stroke: 1px  #FAFAFA;
	}
	.contactText{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 160px;
		margin: 0 auto;
		top: 66%;
		position: fixed;
		width: 100%;
		.contactButtons{
			display: flex;
			gap: 4px;
			flex-direction: column;
			text-decoration: none;
			height: 100px;
			.contactLight{
				z-index: 0;
				position: relative;
				top: -250%;
				filter: blur(40px);
			}
			p{
				font-family: 'Inter', sans-serif;
				font-size: 48px;
				letter-spacing: -4px;
				font-weight: 400;
				line-height: 48px;
				z-index: 1000;
				cursor: pointer;
				color: $main-color-text;
			}
			.discription{
				font-family: 'Playfair Display', sans-serif;
				font-weight: 200;
				font-style: italic;
				font-size: 16px;
				z-index: 1000;
				cursor: pointer;
				color: $main-color-text;
			}
		}
	}
	.portfolio{
		display: flex;
  		position: absolute;
  		bottom: 330px;
		gap: 250px;
	}
	.portfolio_link {
		position: relative;
		font-size: 16px;
		font-weight: 300;
		line-height: 16px;
		color: $main-color-text;
		text-decoration: none;
		width: 72px;
	}
	.portfolio a:nth-child(1) {
		bottom: -177px;
  		position: relative;
	}
	.portfolio a:nth-child(3) {
		bottom: -177px;
  		position: relative;
	}
	.starContacts{
		position: absolute;
		bottom: 0;
	}
}