@import "../../styles/variables";

.servicesSection{
	display: flex;
	flex-direction: column;
	text-align: center;
	color: $main-color-text;
	background-color: #070707;
	box-sizing: border-box;
	.servicesText{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: end;
		padding: 0 32px;
		gap: 180px;
		top: 17%;
		position: absolute;
		width: 100%;
		p{
			text-transform: uppercase;
			line-height: 19.2px;
			font-weight: 400;
			margin-bottom: 36px;
		}
		h1{
			font-size: 160px;
			line-height: 100%;
			font-weight: 300;
		}
		.firText{
			font-family: 'Playfair Display', sans-serif;
			font-weight: 400;
			font-style: italic;
			letter-spacing: -14px;
		}
		.secText{
			letter-spacing: -8px;
			-webkit-text-stroke: 1px  #FAFAFA;
		}
	}
	.servicesTextMobile{
		display: none;
		flex-direction: column;
		justify-content: center;
		gap: 80px;
		top: 17%;
		position: absolute;
		width: 100%;
		h1{
			font-size: 88px;
			line-height: 100%;
			font-weight: 300;
		}
		.firText{
			font-family: 'Playfair Display', sans-serif;
			font-weight: 400;
			font-style: italic;
			letter-spacing: -8px;
		}
		.secText{
			letter-spacing: -8px;
			-webkit-text-stroke: 1px  #FAFAFA;
		}
		.mobileText{
			display: flex;
			justify-content: center;
  		gap: 240px;
			p{
				text-transform: uppercase;
				line-height: 19.2px;
				font-weight: 400;
			}
		}
	}
	.mainServices{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 24px;
		padding: 0 32px;
		.service-hover {
			border-left: 1px solid #383838;
		}
		.service {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 0 24px 0 24px;
			width: 446px;
			height: 784px;
			text-align: left;
			margin: 680px 0 160px 0;
			position: relative;
		
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 1px;
				height: 100%;
				background-color: $main-color-text;
				transform: scaleY(0);
				transform-origin: bottom;
				transition: transform 1.3s;
			}
			&:hover::before {
				transform: scaleY(1);
				transform-origin: top;
			}
			&.open::before {
				display: none;
			}
			.top, .bottom {
				display: flex;
				flex-direction: column;
				gap: 24px;
			}
			.top {
				.number {
					line-height: 19.2px;
					font-weight: 400;
					color: #686868;
					transition: 0.3s ease-in-out;
				}
				.title {
					font-size: 48px;
					line-height: 100%;
					font-weight: 350;
					letter-spacing: -3px;
					height: 78px;
				}
			}
			.serviceButton {
				opacity: 0;
				visibility: hidden;
				transition: 0.3s ease-in-out;
				width: fit-content;
				align-self: center;
				background-color: transparent;
				border: none;
				cursor: pointer;
				position: inherit;
				font-family: 'Inter', sans-serif;
		
				.insideButton {
					color: $main-color-text;
					text-transform: uppercase;
					display: flex;
					align-items: end;
				}
			}
			img.leftArrow, img.rightArrow {
				margin: 0 8px;
				transition: transform 0.3s ease;
			}
			.serviceButton:hover img.leftArrow {
				transform: translateX(4px);
			}
			.serviceButton:hover img.rightArrow {
				transform: translateX(-4px);
			}
			.bottom {
				.description {
					line-height: 19.2px;
					color: #686868;
					transition: 0.3s ease-in-out;
				}
		
				.timeValues {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
		
					.price, .deadlines {
						line-height: 19.2px;
						color: #686868;
						transition: 0.3s ease-in-out;
					}
				}
			}
		
			&:hover {
				.number, .description, .timeValues .deadlines, .timeValues .price {
					color: $main-color-text;
				}
		
				.serviceButton {
					display: flex;
				}
			}
		
			&:hover .serviceButton {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.serviceStages {
    display: flex;
    flex-direction: column;
    margin: 160px 0;
    padding: 0 32px;
    p {
        line-height: 19.2px;
        color: #686868;
        font-size: 16px;
        transition: 0.8s ease-in-out;
    }
    .accordion {
        width: 100%;
    }
    .accordion li {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $main-color-text;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 1.8s;
        }
        &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
        }
        &.open::after {
            transform: none;
        }
    }
    .accordion li label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: -3px;
        width: 100%;
        margin-top: 32px;
    }
    input[type='checkbox'] {
        display: none;
    }
    .accordion .content {
        padding: 32px 0 0 0;
        display: flex;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.8s, padding 1s;
        p {
            color: $main-color-text;
        }
        .time {
            padding-top: 16px;
        }
    }
    .accordion input[type='checkbox']:checked + label + .content {
        max-height: 200px;
        padding: 32px 0 32px 0;
    }
    .accordion input[type='checkbox']:checked + label {
        p {
            color: $main-color-text;
        }
        & + .content {
            li {
                &::after {
                    display: none;
                }
            }
        }
    }
    .accordion input[type='checkbox']:checked + label {
        &::after {
            display: none;
        }
    }
    .accordion input[type='checkbox']:checked ~ label:hover::after,
    .accordion input[type='checkbox']:checked + label::after {
        transform: scaleX(0);
    }
    .accordion input[type='checkbox']:not(:checked) + label:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
}

	@media screen and (max-width: 1440px) {
		.servicesText h1{
			font-size: 120px;
		}
		.servicesText {
			gap: 80px;
		}
		.mainServices .service{
			width: 326px;
			height: 600px;
			margin: 620px 0 160px 0;
		}
		.mainServices .service .top .title ,  .serviceStages .accordion li label {
			font-size: 40px;
			word-break: inherit;
		}
	}
	@media screen and (max-width: 1366px) {
		.servicesText h1{
			font-size: 104px;
		}
		.servicesText .firText , .servicesText .secText {
			letter-spacing: -8px;
		}
		.servicesText {
			align-items: center;
		}
		.servicesText p {
			margin-bottom: -12px;
		}
		.mainServices .service{
			width: 308px;
			height: 560px;
			margin: 545px 0 160px 0;
		}
		.mainServices .service .top .title ,  .serviceStages .accordion li label {
			font-size: 32px;
			word-break: inherit;
			letter-spacing: -0.5px;
			margin-top: 24px;
		}
		.aboutMeSection .textMain p{
			padding-bottom: 16px;
		}
		.serviceStages .accordion .content{
			padding: 24px 0 0 0;
		}
		.serviceStages p {
			font-size: 14px;
		}
	}
	@media screen and (max-width: 1280px) {
		.mainServices .service{
			width: 286px;
			height: 520px;
			margin: 520px 0 160px 0;
		}
		.serviceStages .accordion .content {
			padding: 24px 0 0 0;
		}
	}
	@media screen and (max-width: 1024px) {
		.servicesText , .navigationSection{
			display: none;
		}
		.servicesTextMobile{
			display: flex;
		}
		.mainServices .service{
			width: 468px;
			height: 600px;
			margin: 0;
			border-left: 1px solid $main-color-text;
		}
		.mainServices .service .bottom .description, .mainServices .service .top .number, .mainServices .service .bottom .timeValues .price, .mainServices .service .bottom .timeValues .deadlines {
			color: $main-color-text;
		}
		.mainServices .service .serviceButton {
			opacity: 1;
			visibility: visible;
		}
		.mainServices .service .top .title {
			height: auto;
		}
		img.leftArrow, img.rightArrow {
			margin: 0 4px !important;
		}
		.mainServices{
			flex-wrap: wrap;
			margin: 490px 0 160px 0;
		}
		.mainServices .service:nth-last-child(1),
		.mainServices .service:nth-last-child(2) {
			margin-top: 48px;
		}
		.mainServices .service .top .title{
			letter-spacing: -2px;
		}
	}
	@media screen and (max-width: 768px) {
		.mainServices .service{
			width: 340px;
		}
	}
	@media screen and (max-width: 390px), (max-width: 375px), (max-width: 428px) {
		.servicesTextMobile {
			gap: 64px;
		}
		.servicesTextMobile h1{
			font-size: 56px;
		}
		.servicesTextMobile .firText , .servicesTextMobile .secText {
			letter-spacing: -4px;
		}
		.servicesTextMobile .mobileText {
			gap: 16px;
			flex-direction: column;
		}
		.mainServices {
			gap: 48px;
			padding: 0 24px;
		}
		.mainServices .service {
			padding: 0 0 0 24px;
		}
		.serviceStages {
			margin: 100px 0 100px 0;
			padding: 0 24px;
		}
		.serviceStages .accordion li label p{
			display: none;
		}
		.serviceStages .accordion li label {
			font-size: 24px;
			text-align: left;
			letter-spacing: -1px;
		}
		.serviceStages .accordion .content{
			text-align: start;
		}
		.serviceStages .accordion input[type="radio"]:checked + label + .content {
			max-height: 226px;
    	white-space: nowrap;
    	overflow-wrap: break-word;
		}
		.mainServices .service:nth-last-child(2), .mainServices .service:nth-last-child(1) {
			margin-top: 0;
		}
	}
}
