@import "../../styles/variables";

.servicesSection{
	display: flex;
	flex-direction: column;
	text-align: center;
	color: $main-color-text;
	box-sizing: border-box;
	margin: 120px 0 0 0;
	.servicesText{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 0 32px;
		gap: 180px;
		top: 17%;
		position: absolute;
		width: 100%;
		p{
			text-transform: uppercase;
			font-size: 16px;
			line-height: 19.2px;
			font-weight: 400;
		}
		h2{
			font-size: 160px;
			line-height: 100%;
			font-weight: 300;
		}
		.firText{
			font-family: 'Playfair Display', sans-serif;
			font-weight: 400;
			font-style: italic;
			letter-spacing: -8px;
		}
		.secText{
			letter-spacing: -16px;
			-webkit-text-stroke: 1px  #FAFAFA;
		}
	}
	.mainServices{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 24px;
		padding: 0 32px;
		.service-hover {
			border-left: 1px solid #383838;
			transition: border-color 0.3s ease-in-out;
			position: relative;
		}
		.service-hover:hover {
			border-left: 1px solid $main-color-text;
		}
		.service-hover::before {
			content: '';
			width: 1px;
			height: 0;
			background-color: $main-color-text;
			position: absolute;
			top: 0;
			left: -1px;
			transition: height 0.3s ease-in-out;
		}
		.service-hover:hover::before {
			height: 100%;
		}
		.service{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 0 24px 0 24px;
			border-left: 1px solid #383838;
			width: 446px;
			height: 720px;
			text-align: left;
			margin: 580px 0 160px 0;
			transition: 0.3s ease-in-out;
			.top , .bottom{
				display: flex;
				flex-direction: column;
				gap: 24px;
			}
			.top{
				.number{
					font-size: 16px;
					line-height: 19.2px;
					font-weight: 400;
					color: #686868;
					transition: 0.3s ease-in-out;
				}
				.title{
					font-size: 48px;
					line-height: 100%;
					font-weight: 400;
					letter-spacing: -3px;
					height: 78px;
				}
			}
			.serviceButton{
				opacity: 0;
				visibility: hidden;
				transition: 0.3s ease-in-out;
				width: fit-content;
				align-self: center;
				background-color: transparent;
				border:none;
				cursor: pointer;
				// top: 55%;
				position: inherit;
				.insideButton{
					font-size: 16px;
					color: $main-color-text;
					text-transform: uppercase;
				}
			}
			img.leftArrow {
				margin-right: 14px;
				transition: transform 0.3s ease;
			}
			img.rightArrow {
				margin-left: 14px;
				transition: transform 0.3s ease;
			}
			img.leftArrow,
			img.rightArrow {
				transition: transform 0.3s ease;
			}
			.serviceButton:hover img.leftArrow {
				transform: (translateX(4px));
			}
			.serviceButton:hover img.rightArrow {
				transform: (translateX(-4px));
			}
			.bottom{
				.description{
					font-size: 16px;
					line-height: 19.2px;
					font-weight: 400;
					color: #686868;
					transition: 0.3s ease-in-out;
				}
				div{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					.price , .deadlines{
						font-size: 16px;
						line-height: 19.2px;
						font-weight: 400;
						color: #686868;
						transition: 0.3s ease-in-out;
					}
				}
			}
		}
		.service:hover{
			.number, .description , div .deadlines , div .price  {
				color: $main-color-text;
			}
			.serviceButton{
				display: flex;
			}
		}
		.service:hover .serviceButton{
			opacity: 1;
			visibility: visible;
		}
	}
	.serviceStages{
  	display: flex;
  	flex-direction: column;
  	margin: 160px 0 160px 0;
  	padding: 0 32px;
  	p{
  		font-size: 16px;
  		line-height: 19.2px;
  		font-weight: 400;
  		color: #686868;
  	}
	.accordion{
		width: 100%;
	}
	.accordion li{
		width: 100%;
		list-style: none;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		border-bottom: 1px solid transparent;
  		transition: border-bottom 0.8s ease;
	}
	
	.accordion li label{
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		font-size: 48px;
		line-height: 100%;
		font-weight: 400;
		letter-spacing: -3px;
		width: 100%;
		margin-top: 32px;
	}
	input[type='radio']{
	 	display: none;
	}
	.accordion .content{
	 	padding: 32px 0 0 0;
		display: flex;
		flex-direction: column;
	 	max-height: 0;
	 	overflow: hidden;
	 	transition: max-height 0.8s, padding 1s;
		p{
			color: $main-color-text;
		}
		.time{
			padding-top: 16px;
		}
	}
	.accordion input[type='radio']:checked + label + .content{
	 	max-height: 200px;
	 	padding: 32px 0 32px 0;
		}
  }
	@media screen and (max-width: 1440px) {
		
	}
}
