$background-main: #0f0f0f;
$background-light-black: #161616;
$black-text: #070707;
$pop-text: #CBCBCB;
$main-color-text: #FAFAFA;
$main-footer-background: #0f0f0f;

// $breakpoint-desktop-small: 1280px;
// $breakpoint-desktop-min: 991px;
// $breakpoint-tablet: 768px;
// $breakpoint-mobile-large: 560px;
// $breakpoint-mobile: 480px;
// $breakpoint-mobile-small: 360px;