$background-main: #0f0f0f;
$background-light-black: #161616;
$black-text: #0f0f0f;
$pop-text: #B4B4B4;
$main-color-text: #FAFAFA;
$background-home: #6667AB;
$main-footer-background: #161616;

$breakpoint-desktop-small: 1280px;
$breakpoint-desktop-min: 991px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-large: 560px;
$breakpoint-mobile: 480px;
$breakpoint-mobile-small: 360px;