$background-main: #0f0f0f;
$black-text: #0f0f0f;
$pop-text: #CF9B7D;
$main-color-text: #FFBE98;
$background-home: #6667AB;
$main-footer-background: #161616;

$breakpoint-desktop-small: 1280px;
$breakpoint-desktop-min: 991px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
$breakpoint-mobile-small: 360px;