@import "../../styles/variables";

.navigationSection {
	position: fixed !important;
	top: 48.22%;
	width: 100%;
	z-index: 52;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 32px;
	color: $main-color-text;
	mix-blend-mode: difference;
	opacity: 0;
    transition: opacity .5s ease-in-out;
    &.fadeIn {
        opacity: 1;
		transition: opacity .7s ease-in-out;
    }
    &.fadeOut {
        opacity: 0;
		z-index: 0;
		pointer-events: none;
		// transition: opacity 0.2s ease-in-out;
    }
	a {
	  	display: flex;
	  	flex-direction: column;
	  	text-align: start;
	  	text-decoration: none;
	  	color: #FFF;
	  	gap: 8px;
		.char:before { transform: translateY(100%); }
		&:hover .char:before { transform: translateY(0%); }
		&:hover .char:after { transform: translateY(-100%); }
	}
	.upperText {
	  	font-weight: 300;
	  	font-size: 12px;
	  	line-height: 100%;
	  	opacity: 0.4;
	  	letter-spacing: 0px;
	}
	.navigationLink {
		background: transparent;
		color: $main-color-text;
	  	border: none;
	  	font-weight: 300;
	  	line-height: 120%;
	  	position: relative;
	  	text-decoration: none;
	  	text-transform: uppercase;
	  	.char {
			overflow: hidden;
			color: transparent;
			&:before,
			&:after {
		  	visibility: visible;
		  	color: $main-color-text;
		  	transition: transform 0.5s cubic-bezier(0.9, 0, .2, 1);
		  	transition-delay: calc(0.2s + (0.02s * (var(--char-index))));
		}
	  	}
		&:hover .char:before {
			transition-delay: calc(0.2s + (0.02s * (var(--char-index))));
	  	}
	  	&:hover .char:after {
			transition-delay: calc(0.02s * (var(--char-index)));
	  	}
	}
	.navigationText {
		font-weight: 300;
		line-height: 120%;
		letter-spacing: 0px;
		position: relative;
		margin-bottom: -20px;
	}
}  