@import "../../../styles/variables";

$font-size-small: 12px;
$font-size-medium: 16px;
$line-height-small: 12px;
$line-height-medium: 16px;
$opacity-level: 0.4;
$margin-bottom: 8px;
$negative-margin-bottom: -20px;

.navigationSectionStatic{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: $main-color-text;
	article{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.upperText{
		font-family: 'Inter', sans-serif;
		font-weight: 400;
		font-size: $font-size-small;
		line-height: $line-height-small;
		opacity: $opacity-level;
		letter-spacing: 0;
		margin-bottom: $margin-bottom;
	}
	.navigationLink{
		background: transparent;
		color: $main-color-text;
		border: none;
		font-size: $font-size-medium;
		font-weight: 300;
		line-height: $line-height-medium;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
	}
	.navigationText{
		font-size: $font-size-medium;
		font-weight: 300;
		line-height: $line-height-medium;
		letter-spacing: 0;
		position: relative;
		margin-bottom: $negative-margin-bottom;
	}
}
