@import "../../styles/variables";


.navbarSection{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: $main-color-text;
	text-decoration: none;
	letter-spacing: -0.5px;
	line-height: 1;
	box-sizing: border-box;
	padding: 36px 32px 36px 32px;
	position: fixed;
	background-color: transparent;
	width: 100%;
	.welcome{
		display: flex;
		flex-direction: row;
		align-items: center;
		.bracket1, .bracket2{
			font-family: 'Playfair Display' , sans-serif;
			font-weight: 400;
			font-style: italic;
			letter-spacing: -24px;
			font-size: 32px;
			opacity: 0.4;
		}
		.bracket1{
			margin: 0 16px 0 0;
		}
		.bracket2{
			margin: 0 0 0 12px;
		}
	}
	a{
		text-decoration: none;
		color: $main-color-text;
	}
	.navbarBtn{
		display: flex;
		align-items: center;
		gap: 8px;
	}
	.navbarText{
		text-align: center;
	}
	.navbarTelegram{
		text-align: end;
	}
	.burger{
		display: none;
		flex-direction: column;
		height: 2.5rem;
		gap: 6px;
		justify-content: center;
		right: 32px;
		position: absolute;
		cursor: pointer;
		z-index: 3001;
		span{
			width: 56px;
			height: 1px;
			background-color: #FAFAFA;
		}
	}
	.closeBurger {
		display: none;
	}
	@media screen and (max-width: 1366px) {
		.navbarBtn , .navbarText , .navbarTelegram{
			font-size: 14px;
		}
	}
	@media screen and (max-width: 1024px) {
		.burger{
			display: flex;
		}
		.welcome , .navbarTelegram{
			display: none;
		}
	}
}