@mixin transform($property) {
	-webkit-transform: $property;
	-ms-transform: $property;
	transform: $property;
}

@import "../../styles/variables";

.mainFooter {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: $main-footer-background;
	box-sizing: border-box;
	padding: 0 32px 32px;
	line-height: 1;
	height: 100vh;
	.goConversation, .nextPage {
		display: flex;
		width: fit-content;
		flex-direction: column;
		align-self: center;
		cursor: pointer;
		text-decoration: none;
	}
	.goConversation {
		// margin: 218px 0 160px;
		margin: 184px 0 auto 0;
	}
	.mainFooterTop, .mainFooterTopSecond {
		color: $main-color-text;
	}
	.mainFooterTopSecond {
		display: none;
	}
	.nextPage {
		margin: auto 0 176px 0;
		p {
			letter-spacing: -7px;
		}
	}
	.nextPageLink, .mainFooterP {
		line-height: 16px;
		color: $main-color-text;
		text-transform: uppercase;
		display: flex;
		align-items: end;
		justify-content: center;
	}
	img.leftArrow, img.rightArrow {
		margin: 0 8px;
		transition: transform 0.3s ease;
	}
	.nextPage:hover img.leftArrow, .goConversation:hover img.leftArrow {
		@include transform(translateX(4px));
	}
	.nextPage:hover img.rightArrow, .goConversation:hover img.rightArrow {
		@include transform(translateX(-4px));
	}
	p {
		font-size: 120px;
		letter-spacing: -8px;
		color: $main-color-text;
	}
	.difText {
		font-family: 'Playfair Display', sans-serif;
		font-weight: 400;
		font-style: italic;
		font-size: 120px;
		letter-spacing: -8px;
	}
	.mainFooterBottomSecond {
		display: none;
	}
	.mainFooterBottom {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		text-decoration: none;
		align-items: end;
		bottom: 32px;
		position: absolute;
		left: 32px;
		right: 32px;

		.footerLinkFirst {
			text-align: start;
		}

		.footerLinkSecond {
			width: 177px;
			text-align: end;
		}

		a {
			color: $main-color-text;
			text-decoration: none;
			font-weight: 300;
		}
		  .showLink {
			  display: flex;
				gap: 32px;
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: inline-flex;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				-ms-flex-pack: center;
				justify-content: center; /* Standard Property */
			  //			transform: translate(-50%, -50%);
			  .ul_link {
				  position: relative;
				  font-weight: 300;
				  line-height: 16px;
			  }
			  .ul_link:hover:before {
				  -webkit-transform: scaleX(1);
				  -ms-transform: scaleX(1);
				  transform: scaleX(1);
				  -webkit-transform-origin: left;
				  -ms-transform-origin: left;
				  transform-origin: left;
				  -webkit-transition: -webkit-transform 0.55s;
				  transition: -webkit-transform 0.55s;
				  -o-transition: transform 0.55s;
				  transition: transform 0.55s;
				  transition: transform 0.55s, -webkit-transform 0.55s;
			  }
			  .ul_link:before {
				  content: '';
				  width: 100%;
				  height: 1px;
				  background-color: $main-color-text;
				  position: absolute;
				  left: 0; bottom: -2px;
				  -webkit-transform: scaleX(0);
				  -ms-transform: scaleX(0);
				  transform: scaleX(0);
				  -webkit-transform-origin: right;
				  -ms-transform-origin: right;
				  transform-origin: right;
				  -webkit-transition: -webkit-transform 0.55s;
				  transition: -webkit-transform 0.55s;
				  -o-transition: transform 0.55s;
				  transition: transform 0.55s;
				  transition: transform 0.55s, -webkit-transform 0.55s;
			  }
		  }
	  }
	  @media screen and (max-width: 1440px) {
		.mainFooterTop, .difText {
			font-size: 104px;
		}
		.difText {
			letter-spacing: -5px;
		}
		.nextPage p {
			font-size: 64px;
			letter-spacing: -4px;
		}
		.nextPage {
			margin: 140px 0 0 0;
		}
		.goConversation {
			margin: 188px 0 140px 0;
		}
	  }
	  @media screen and (max-width: 1366px) {
		.mainFooterTop, .difText {
			font-size: 88px;
		}
		.difText {
			letter-spacing: -5px;
		}
		.nextPage{
			margin: auto 0 113px 0;
		}
		.nextPage p {
			font-size: 56px !important;
			letter-spacing: -2px;
		}
		.nextPageLink{
			margin-top: 0;
		}
		.goConversation {
			margin: 151px 0 auto 0;
		}
	}
	  @media screen and (max-width: 1280px) {
			.nextPage{
				margin: auto 0 100px 0;
			}
			.goConversation {
				margin: 143px 0 auto 0;
			}
	}
	  @media screen and (max-width: 1024px) {
		.navigationSectionStatic {
			display: none;
		}
		.mainFooterTop , .difText{
			font-size: 72px;
		}
		.nextPage{
			margin: auto 0 160px 0;
		}
		.mainFooterBottom {
			margin: 163.5px 0 0 0;
		}
		.goConversation {
			margin: 200px 0 auto 0;
		}
		img.leftArrow, img.rightArrow {
			margin: 0 4px;
		}
	}
	  @media screen and (max-width: 768px) {
		.mainFooterTop , .mainFooterBottom{
			display: none;
		}
		.mainFooterTopSecond{
			display: block;
			line-height: 48px;
		}
		.secText, .difText {
			font-size: 72px;
		}
		.mainFooterP{
			margin-top: 20px;
		}
		.secText {
			letter-spacing: -5px;
		}
		.nextPage{
			margin: auto 0 0 0;
		}
		.mainFooterBottomSecond{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			text-decoration: none;
			gap: 64px;
			margin: 160px 0 0 0;
			a{
				color: $main-color-text;
				text-decoration: none;
				font-weight: 300;
			}
			.direct{
				display: flex;
				justify-content: space-between;
				width: 100%;
				.footerLinkFirst{
					text-align: start;
				}
				.footerLinkSecond {
					width: 177px;
					text-align: end;
				}
			}
			.showLink {
				display:flex;
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: inline-flex;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				width: 100%;
    			justify-content: space-between;
				-ms-flex-pack: center;
				.ul_link {
					position: relative;
					font-weight: 300;
					line-height: 16px;
				}
				.ul_link:hover:before {
					-webkit-transform: scaleX(1);
					-ms-transform: scaleX(1);
					transform: scaleX(1);
					-webkit-transform-origin: left;
					-ms-transform-origin: left;
					transform-origin: left;
					-webkit-transition: -webkit-transform 0.55s;
					transition: -webkit-transform 0.55s;
					-o-transition: transform 0.55s;
					transition: transform 0.55s;
					transition: transform 0.55s, -webkit-transform 0.55s;
				}
				.ul_link:before {
					content: '';
					width: 100%;
					height: 1px;
					background-color: $main-color-text;
					position: absolute;
					left: 0; bottom: -2px;
					-webkit-transform: scaleX(0);
					-ms-transform: scaleX(0);
					transform: scaleX(0);
					-webkit-transform-origin: right;
					-ms-transform-origin: right;
					transform-origin: right;
					-webkit-transition: -webkit-transform 0.55s;
					transition: -webkit-transform 0.55s;
					-o-transition: transform 0.55s;
					transition: transform 0.55s;
					transition: transform 0.55s, -webkit-transform 0.55s;
				}
			}
		}
	  }
	  @media screen and (max-width: 390px), (max-width: 375px), (max-width: 428px) {
		.secText, .difText {
			font-size: 48px;
		}
		.mainFooterTopSecond {
			line-height: 18px;
		}
		.difText {
			letter-spacing: -3px;
		}
		.secText {
			letter-spacing: -4px;
		}
		.mainFooterP {
			margin-top: 16px;
		}
		.mainFooterBottomSecond{
			margin: 144px 0 0 0;
		}
		.nextPage p {
			font-size: 40px !important;
		}
		.nextPageLink{
			margin-top: 0;
		}
		.goConversation {
			margin: 200px 0 auto 0;
		}
	}
}
@media screen and (max-width: 390px), (max-width: 375px), (max-width: 428px) {
	.mainFooter{
		padding: 0 24px 24px;
	}
}