@import "../../styles/variables";

.undefSection{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: $main-color-text;
	box-sizing: border-box;
	padding: 0 32px;
	h1{
		font-family: 'Playfair Display';
		font-size: 264px;
		line-height: 100%;
		font-weight: 400;
		text-decoration: none;
		color: white;
		display: flex;
		gap: 24px;
		position: fixed;
		font-style: italic;
  	top: 12%;
	}
	.undefText{
		display: flex;
		width: fit-content;
		flex-direction: column;
		position: fixed;
		top: 67%;
		cursor: pointer;
		margin: 0 auto;
		text-decoration: none !important;
		p{
			font-size: 48px;
			line-height: 90%;
			letter-spacing: -3px;
			font-weight: 400;
			text-decoration: none;
			color: white;
		}
	}
	.undefFooterLink{
		line-height: 16px;
		letter-spacing: 0;
		font-weight: 400;
		text-decoration: none;
		color: $main-color-text;
		transition: 0.5s ease-in-out;
		text-transform: uppercase;
		margin: 16px 0 0 0;
	}
	img.leftArrow {
		margin-right: 8px;
		transition: transform 0.3s ease;
	}
	img.rightArrow {
		margin-left: 8px;
		transition: transform 0.3s ease;
	}
	img.leftArrow,
	img.rightArrow {
		transition: transform 0.3s ease;
	}
	.undefText:hover img.leftArrow {
		-webkit-transform: translateX(4px);
		-ms-transform: translateX(4px);
		transform: translateX(4px);
	}
	.undefText:hover img.rightArrow {
		-webkit-transform: translateX(-4px);
		-ms-transform: translateX(-4px);
		transform: translateX(-4px);
	}
		@media screen and (max-width: 1440px){
			h1{
				font-size: 200px;
			}
			.undefText p{
				font-size: 40px;
				letter-spacing: -2px;
			}
		}
		@media screen and (max-width: 1366px){
			h1{
				font-size: 184px;
			}
			.undefText p{
				font-size: 32px;
				letter-spacing: 0;
			}
		}
		@media screen and (max-width: 1280px){
			h1{
				font-size: 160px;
			}
		}
		@media screen and (max-width: 1024px) {
			.navigationSection{
				display: none;
			}
			h1{
				font-size: 144px;
			}
			.undefText{
				top: 47%;
			}
		}
		@media screen and (max-width: 768px) {
			.lowerSection article{
				display: none;
			}
			.undefText {
				top: 35%;
			}
		}
		@media screen and (max-width: 390px), (max-width: 375px), (max-width: 428px) {
			h1{
				font-size: 120px;
				top: 25%;
			}
			.undefText {
				top: 45%;
			}
		}
}
