@import "../../styles/variables";

.undefSection{
	display: flex;
	flex-direction: column;
	text-align: center;
	
	justify-content: center; // выравнивание по вертикали
	align-items: center;
	
	color: $main-color-text;
	box-sizing: border-box;
	padding: 0 32px;
	margin: 120px 0 0 0;
	h1{
		font-family: 'Inter', sans-serif;
		font-size: 240px;
		line-height: 100%;
		font-weight: 300;

        display: flex;
        gap: 24px;
	}
	.four{
		font-family: 'Playfair Display', sans-serif;
		font-weight: 400;
		font-style: italic;
        margin: -46.5px 0 0 0;
	}
	.undefText{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 auto;
		top: 67%;
		position: fixed;
		width: 100%;
		p{
			font-family: 'Inter', sans-serif;
			font-size: 48px;
			line-height: 90%;
            letter-spacing: -8%;
			font-weight: 400;
		}
		.undefFooterLink{
		font-family: 'Inter', sans-serif;
		font-size: 16px;
		line-height: 16px;
		letter-spacing: -1px;
		color: $main-color-text;
		transition: 0.5s ease-in-out;
		text-transform: uppercase;
		margin: 24px 0 0 0;
		}
	}
}