@import "../../styles/variables";

@mixin transform($property) {
	-webkit-transform: $property;
	-ms-transform: $property;
	transform: $property;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin text-style($font-family, $font-size, $line-height, $letter-spacing, $font-weight: 400) {
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
	font-weight: $font-weight;
}

.undefSection{
	@include flex-center;
	flex-direction: column;
	text-align: center;
	color: $main-color-text;
	box-sizing: border-box;
	padding: 0 32px;
	margin: 120px 0 0 0;
	h1{
		@include text-style('Inter', 240px, 100%, 0);
		display: flex;
		gap: 24px;
	}
	.four{
		@include text-style('Playfair Display', 240px, 100%, 0, 400);
		font-style: italic;
		margin: -46.5px 0 0 0;
	}
	.undefText{
		@include flex-center;
		flex-direction: column;
		margin: 0 auto;
		top: 67%;
		position: fixed;
		width: 100%;
		p{
			@include text-style('Inter', 48px, 90%, -8%);
		}
		.undefFooterLink{
			@include text-style('Inter', 16px, 16px, -1px);
			color: $main-color-text;
			transition: 0.5s ease-in-out;
			text-transform: uppercase;
			margin: 24px 0 0 0;
		}
		img.leftArrow,
		img.rightArrow {
			transition: transform 0.3s ease;
		}
		.undefFooterLink:hover img.leftArrow {
			@include transform(translateX(-4px));
		}
		.undefFooterLink:hover img.rightArrow {
			@include transform(translateX(4px));
		}
	}
}
