@import "../../../styles/variables.scss";

// footer /contacts
  .undefFooterContacts{
	display: flex;
	color: $main-color-text;
	flex-direction: column;
	text-align: center;
	box-sizing: border-box;
	padding: 0 32px;
	line-height: 1;
	.mainFooterP{
	  line-height: 16px;
	  color: $main-color-text;
	  text-transform: uppercase;
	  text-decoration: none;
	  display: flex;
	  align-items: baseline;
	  justify-content: center;
  }
	.undefFooterBottomContacts{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: end;
		padding: 0 0 32px 0;
		p{
			text-align: start;
		}
		a{
			color: $main-color-text;
			text-decoration: none;
			text-align: end;
		}
		.undefLinkFirst{
				text-align: start;
		}
		.undefLinkSecond{
				text-align: end;
				width: 177px;
		}
	}
	.showLink{
		display: flex;
		gap: 32px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: inline-flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center; /* Standard Property */
		.ul_link {
			position: relative;
			font-weight: 300;
			line-height: 16px;
		}
		.ul_link:hover:before {
			-webkit-transform: scaleX(1);
			-ms-transform: scaleX(1);
			transform: scaleX(1);
			-webkit-transform-origin: left;
			-ms-transform-origin: left;
			transform-origin: left;
			-webkit-transition: -webkit-transform 0.55s;
			transition: -webkit-transform 0.55s;
			-o-transition: transform 0.55s;
			transition: transform 0.55s;
			transition: transform 0.55s, -webkit-transform 0.55s;
		}
		.ul_link:before {
			content: '';
			width: 100%;
			height: 1px;
			background-color: $main-color-text;
			position: absolute;
			left: 0; bottom: -2px;
			-webkit-transform: scaleX(0);
			-ms-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transform-origin: right;
			-ms-transform-origin: right;
			transform-origin: right;
			-webkit-transition: -webkit-transform 0.55s;
			transition: -webkit-transform 0.55s;
			-o-transition: transform 0.55s;
			transition: transform 0.55s;
			transition: transform 0.55s, -webkit-transform 0.55s;
		}
	}
	.lowerSection , article{
		display: none;
	}
	@media screen and (max-width: 1366px) {
	  .undefFooterBottom , .ul_link {
		  font-size: 14px !important;
	  }
	}
	@media screen and (max-width: 768px) {
		.undefFooterBottomContacts{
			display: none;
		}
		.lowerSection{
      display: flex;
      flex-direction: column;
      gap: 64px;
			padding: 0 0 32px 0;
			height: 100%;
			article{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				.contactButtons{
					display: flex;
					gap: 4px;
					flex-direction: column;
					text-decoration: none;
					height: 86px;
					text-align: center;
					.contactLight{
						z-index: 0;
						position: relative;
						top: -200%;
						filter: blur(40px);
					}
					p{
						font-size: 32px;
						letter-spacing: -2px;
						font-weight: 400;
						z-index: 1000;
						cursor: pointer;
						color: $main-color-text;
					}
					.discription{
						font-family: 'Playfair Display', sans-serif;
						font-weight: 200;
						font-style: italic;
						z-index: 1000;
						cursor: pointer;
						color: $main-color-text;
					}
				}
			}
			a{
				color: $main-color-text;
				text-decoration: none;
				text-align: end;
			}
			.ulPortfolio{
				display: flex ;
				flex-direction: row;
				justify-content: space-between;
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: inline-flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				.portfolioLink{
					position: relative;
					font-weight: 300;
					line-height: 16px;
				}
				.portfolioLink:hover:before {
					-webkit-transform: scaleX(1);
					-ms-transform: scaleX(1);
					transform: scaleX(1);
					-webkit-transform-origin: left;
					-ms-transform-origin: left;
					transform-origin: left;
					-webkit-transition: -webkit-transform 0.55s;
					transition: -webkit-transform 0.55s;
					-o-transition: transform 0.55s;
					transition: transform 0.55s;
					transition: transform 0.55s, -webkit-transform 0.55s;
				}
				.portfolioLink:before {
					content: '';
					width: 100%;
					height: 1px;
					background-color: $main-color-text;
					position: absolute;
					left: 0; bottom: -2px;
					-webkit-transform: scaleX(0);
					-ms-transform: scaleX(0);
					transform: scaleX(0);
					-webkit-transform-origin: right;
					-ms-transform-origin: right;
					transform-origin: right;
					-webkit-transition: -webkit-transform 0.55s;
					transition: -webkit-transform 0.55s;
					-o-transition: transform 0.55s;
					transition: transform 0.55s;
					transition: transform 0.55s, -webkit-transform 0.55s;
				}
			}
            footer{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: end;
                .footerLinkFirst{
                    text-align: start;
                }
                .footerLinkSecond{
                    text-align: end;
                    width: 177px;
                }
            }
        }
	}
	@media screen and (max-width: 390px), (max-width: 375px), (max-width: 428px) {
		article .contactButtons{
			height: 73px;
			width: 148px;
		}
		.lowerSection article .contactButtons p{
			font-size: 24px;
		}
		.lowerSection article .contactLight {
			top: -160%;
		}
	}
}