@import "../../../styles/variables.scss";

.principlesFooter{
	width: 100%;
	color: $main-color-text;
	text-align: center;
	box-sizing: border-box;
	padding: 0 32px;
	position: fixed;
  	bottom: 32px;
	.principlesDesktop{
		display: flex;
		line-height: 1;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		align-items: last baseline;
		a{
			color: white;
			text-decoration: none;
			align-items: end;
		}
		button{
			font-family: 'Inter', sans-serif;
			font-weight: 350;
			background: transparent;
			border: none;
			color: $main-color-text;
			cursor: pointer;
		}
	}
	.principlesMobile{
		display: none;
	}
	@media screen and (max-width: 390px), (max-width: 375px), (max-width: 428px) {
		.principlesDesktop{
			display: none;
		}
		.principlesMobile{
			display: flex;
			line-height: 1;
			flex-direction: column;
			width: 100%;
			align-items: center;
    		gap: 64px;
			align-items: baseline;
			.navbarTextMobile{
				margin-left: auto;
				margin-right: auto;
			}
			section{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
				a{
					color: white;
					text-decoration: none;
				}
				button{
					background: transparent;
					border: none;
					color: $main-color-text;
					cursor: pointer;
				}
			}
		}
	}
}
@media screen and (max-width: 390px), (max-width: 375px), (max-width: 428px) {
	.principlesFooter{
		padding: 0 24px;
	}
}