@import "../../../styles/variables.scss";

.principlesFooter{
	width: 100%;
	color: $main-color-text;
	text-align: center;
	box-sizing: border-box;
	padding: 0 32px;
	position: fixed;
  	bottom: 32px;
	.principlesDesktop{
		display: flex;
		line-height: 1;
		width: 100%;
		justify-content: space-between;
		align-items: end;
		.navbarText{
			p{
				opacity: 0;
				transition: opacity 1s ease;
				&.visible {
					opacity: 1;
				}
				.char {
					display: inline-block;
					transform: translateY(100%);
					opacity: 0;
					transition: transform 1s ease, opacity 1s ease;
				}
				&.visible .char {
					transform: translateY(0);
					opacity: 1;
				}
			}
		}
		a{
			color: white;
			text-decoration: none;
			align-items: end;
			line-height: 10px;
            .word{
                line-height: 12px;
            }
            .char {
                overflow: hidden;
                color: transparent;
                height: 16.5px;
                &:before,
                &:after {
                    visibility: visible;
                    height: 22px;
                    color: $main-color-text;
                    transition: transform 0.5s cubic-bezier(0.9,0,.2,1);
                    transition-delay: calc( 0.2s + ( 0.02s * ( var(--char-index)) ) );
                }
                &:before {
                    transition-delay: calc( 0.02s * ( var(--char-index)) );
                }
            }
            &:hover .char:before { 
                transition-delay: calc( 0.2s + ( 0.02s * ( var(--char-index)) ) );
            }
            &:hover .char:after {
                transition-delay: calc( 0.02s * ( var(--char-index)) );
            }
		}
		.closeLink{
			font-family: 'Inter', sans-serif;
			font-weight: 350;
			background: transparent;
			border: none;
			color: $main-color-text;
			cursor: pointer;
			line-height: 10px;
			height: 16px;
			align-self: end;
            .word{
                line-height: 12px;
            }
            .char {
                overflow: hidden;
                color: transparent;
                height: 16.5px;
                &:before,
                &:after {
                    visibility: visible;
                    height: 22px;
                    color: $main-color-text;
                    transition: transform 0.5s cubic-bezier(0.9,0,.2,1);
                    transition-delay: calc( 0.2s + ( 0.02s * ( var(--char-index)) ) );
                }
                &:before {
                    transition-delay: calc( 0.02s * ( var(--char-index)) );
                }
            }
            &:hover .char:before { 
                transition-delay: calc( 0.2s + ( 0.02s * ( var(--char-index)) ) );
            }
            &:hover .char:after {
                transition-delay: calc( 0.02s * ( var(--char-index)) );
            }
		}
		a {
            .char:before { transform: translateY(100%); }
            &:hover .char:before { transform: translateY(0%); }
            &:hover .char:after { transform: translateY(-100%); }
        }
	}
	.principlesMobile{
		display: none;
	}
	@media screen and (max-width: 390px), (max-width: 375px), (max-width: 428px) {
		.principlesDesktop{
			display: none;
		}
		.principlesMobile{
			display: flex;
			line-height: 1;
			flex-direction: column;
			width: 100%;
			align-items: center;
    		gap: 64px;
			align-items: end;
			.navbarTextMobile{
				margin-left: auto;
				margin-right: auto;
			}
			section{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
				a{
					color: white;
					text-decoration: none;
					align-items: end;
				}
				button{
					background: transparent;
					border: none;
					color: $main-color-text;
					cursor: pointer;
					font-weight: 300;
					align-self: end;
					font-size: 14px;
				}
			}
		}
	}
}
@media screen and (max-width: 390px), (max-width: 375px), (max-width: 428px) {
	.principlesFooter{
		padding: 0 24px;
	}
}