@import "../../styles/variables.scss";

.aboutMeSection{
    display: flex;
    flex-direction: column;
    padding: 112px 32px 112px 32px;
    background-color: $main-color-text;
    color: $black-text;
    height: 100vh;
    justify-content: space-between;
    .textTop, .textBottom{
		font-weight: 450;
    }
    .textTop{
        text-align: start;
    }
    .textBottom{
        text-align: end;
    }
    .textMain{
        margin: auto;
        p{
            font-weight: 450;
			color: #686868;
            padding-bottom: 24px;
        }
        h3 , h4{
            font-family: 'Playfair Display', sans-serif;
			font-weight: 400;
			font-style: italic;
			letter-spacing: -5px;
            font-size: 80px;
            line-height: 90%;
        }
        h3:nth-of-type(2), h3:nth-of-type(3), h4:nth-of-type(2) , h4:nth-of-type(3) {
            display: none;
        }
    }
}
@media screen and (max-width: 1440px) {
    .aboutMeSection{
        padding: 88px 32px 88px 32px;
    }
    .aboutMeSection .textMain h3, .aboutMeSection .textMain h4{
        font-size: 64px;
    }
  }
@media screen and (max-width: 1366px) {
    .aboutMeSection .textMain h3, .aboutMeSection .textMain h4{
        font-size: 56px;
    }
  }
@media screen and (max-width: 1024px) {
    .aboutMeSection .textMain h3, .aboutMeSection .textMain h4{
        font-size: 48px;
        letter-spacing: -2px;
    }
  }
@media screen and (max-width: 768px) {
    h3:nth-of-type(1), h4:nth-of-type(1) {
        display: none;
    }
    h3:nth-of-type(2), h4:nth-of-type(2) {
        display: block !important;
    }
    .aboutMeSection .textMain h3 , .aboutMeSection .textMain h4{
        line-height: 100%;
    }
  }
@media screen and (max-width: 390px), (max-width: 375px), (max-width: 428px) {
	.aboutMeSection{
        padding: 88px 24px 88px 24px;
    }
    .aboutMeSection .textMain h3 , .aboutMeSection .textMain h4{
        font-size: 32px;
    }
    h3:nth-of-type(1), h3:nth-of-type(2) , h4:nth-of-type(1), h4:nth-of-type(2)  {
        display: none !important;
    }
    h3:nth-of-type(3), h4:nth-of-type(3){
        display: block !important;
    }
  }