@import "../../styles/variables.scss";

.aboutMeSection{
    display: flex;
    flex-direction: column;
    padding: 112px 32px 112px 32px;
    background-color: $main-color-text;
    color: $black-text;
    height: 100vh;
    justify-content: space-between;
    .textTop, .textBottom{
		font-size: 16px;
		line-height: 19.2px;
		font-weight: 400;
    }
    .textTop{
        text-align: start;
    }
    .textBottom{
        text-align: end;
    }
    .textMain{
        margin: auto;
        p{
            font-size: 16px;
			line-height: 19.2px;
			font-weight: 400;
			color: #686868;
            padding-bottom: 24px;
        }
        h1{
            font-family: 'Playfair Display', sans-serif;
			font-weight: 400;
			font-style: italic;
			letter-spacing: -4px;
            font-size: 80px;
            line-height: 90%;
        }
    }
}